# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
*.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# ML model artifacts (optional: remove these lines if you want to include them)
ml_model/saved_models/
ml_model/plots/
